@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins:wght@500&family=Roboto:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Baloo+Bhaina+2:wght@500&family=Kanit:ital,wght@0,400;0,500;1,200&family=Merriweather+Sans:wght@500&family=Outfit:wght@700&family=Poppins:wght@600&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Baloo+Bhaina+2:wght@500&family=Kanit:ital,wght@0,400;0,500;1,200&family=Merriweather+Sans:wght@500&family=Montserrat:wght@700&family=Outfit:wght@700&family=Poppins:wght@600&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Montserrat&family=Poppins:wght@500&family=Roboto:ital,wght@0,700;1,500&display=swap');


html {
  scroll-behavior: smooth;
}

:root {
  --font1: 'Poppins', sans-serif;
  --font2: 'Kanit', sans-serif;
  --font3: 'Roboto', sans-serif;
  --font4: 'Outfit', sans-serif;
  --font5: 'Montserrat', sans-serif;
  --font6: 'Montserrat', sans-serif;
  ;
  ;
}

/* Navigation Css  */
.nav-logo {
  color: white;
  margin-right: 5px;
  font-size: 30px;
  position: relative;
  bottom: 2px;
  font-weight: bolder;
}

.nav_items {
  margin-left: 10px;
}

.nav_items a {
  /* font-family: var(--font4); */
  font-family: var(--font6);
  text-transform: uppercase;
  font-size: 15px;
}

.nav {
  /* background-color: #02041d; */
  background-color: black;
}

.nav-item a:hover {
  /* outline: 1cqb whitesmoke; */
  text-decoration: underline white;
  text-underline-offset: 20px;
  transition: 0.5s ease-in-out;
  font-weight: bold;
}

.nav-title {
  font-family: var(--font6);
  font-weight: 600;
}

.nav-title:hover {
  transform: scale(0.9);
  transition: .4s ease-in-out;
}

.navbtn {
  padding: 7px 20px;
  background-color: rgb(71, 71, 193);
  color: white;
  font-family: var(--font6);
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 3px;
}

.navbtn:hover {
  background-color: transparent;
  color: white;
  transition: .4s ease-in-out;

}

.miniheading h2 {
  font-size: 2.3rem;
  font-weight: bolder;
}

.miniheading h2 span {
  color: rgb(255, 0, 0);
  font-weight: bolder;
}

.secheading {
  font-size: 4rem;
  font-weight: bolder;
}

.hirebtn {
  border-radius: 3px;
  margin-top: 0.5%;
  padding: 5px 30px;
  border: none;
  color: white;
  background-color: transparent;
  border: 1px solid rgb(106, 106, 190);
  font-family: var(--font6);
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.hirebtn:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  transition: .4s ease-in-out;
}

/* Main Home Page css  */
video {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.home-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.heading-home {
  text-align: center;
}

.home-content p {
  font-size: 17px;
  font-family: var(--font1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.main-icons i {
  margin: 5px;
  font-size: 26px;
  margin-top: 1.3rem;
}


/* About Us Page css  */
.container {
  background-color: whitesmoke;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  box-shadow: 3px 3px 30px rgb(167, 128, 204);
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  margin-bottom: 5%;
  gap: 2rem;
}

.main-about-page {
  margin-top: 50px;
  width: 100%;
}

.left-about img {
  height: 100%;
  width: 100%;
}

.right-about h4 {
  font-size: 34px;
  font-family: var(--font6);
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
}

.right-about p {
  margin-top: 20px;
  font-size: 17px;
  width: 100%;
  font-family: var(--font1);
}

.aboutbtn {
  padding: 7px 25px;
  background-color: rgb(24, 24, 93);
  color: white;
  font-family: var(--font6);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-size: 14px;
}

.aboutbtn:hover {
  background-color: black;
  color: white;
  font-weight: bold;
  transition: .4s ease-in-out;
  transform: scale(1.1);
}

.connectbtn {
  padding: 7px 25px;
  background-color: rgb(39, 37, 37);
  color: white;
  font-family: var(--font6);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-size: 14px;
}

/* .linkden-id {
  font-size: 18px;
  background-color: blue;
  padding: 10px 20px;
  border-radius: 8px;

}
.linkden-id a {
  list-style: none;
  text-decoration: none;
  color: white;
} */

/* Services section here  */
.mainservicecontainer {
  margin-top: 9%;
  width: 100%;
  padding: 30px;
  background: #151515;
  color: white;
  cursor: pointer;
}

.servicesection {
  padding: 30px;
}

.servicesection h1 {
  font-size: 2.3rem;
  color: white;
  font-family: var(--font6);
  text-transform: uppercase;
  font-weight: 700;
}

.servicesection p {
  width: 100%;
  font-family: var(--font6);
  color: white;
  font-size: 16px;
}

.service_row {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.semiserviceheading {
  font-family: var(--font6);
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  margin-top: 1rem;
}

.service_row p {
  font-family: var(--font6);
  /* text-transform: uppercase; */
  font-size: 14px;
  margin-top: 1rem;
  width: 100%;
}


.one_row {
  padding: 20px;
  /* border: 2px solid white; */
  margin: 6px;
}

.two_row {
  padding: 20px;
  /* border: 2px solid white; */
  margin: 6px;
}

.three_row {
  padding: 20px;
  /* border: 2px solid white; */
  margin: 6px;
}

.four_row {
  padding: 20px;
  margin: 6px;
}

.five_row {
  padding: 20px;
  margin: 6px;
}

.six_row {
  padding: 20px;
  margin: 6px;
}

.icons {
  font-size: 4rem;
  color: red;
}

.freelance_icons {
  font-size: 4.7rem;
  color: red;
}

.ui_design {
  font-size: 4.7rem;
}

.manage_icon {
  font-size: 4.8rem;
}

.icons:hover {
  transition: .4s ease;
  transform: scale(1.1);
}

/* Projects Css here  */
.projects {
  margin-top: 8%;
}

.main-container {
  width: 65%;
  margin: auto;
  height: 100%;
}

.projects__row {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 8rem;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.heading-sec__main {
  font-size: 2.3rem;
  color: navy;
  font-family: var(--font6);
  text-transform: uppercase;
  font-weight: 700;
}

.heading-sec__sub {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-weight: light;
}

.projects__content {
  margin-top: 6rem;
}

.projects__row-content-title {
  font-size: 23px;
  font-weight: 600;
  font-family: var(--font6);

}

.prjbtn {
  padding: 7px 25px;
  background-color: rgb(8, 8, 110);
  color: white;
  font-family: var(--font6);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border: none;

}

.projects__row-content {
  margin-top: 1.5rem;
}

.projects__row-img-cont img {
  height: 100%;
  width: 100%;
}

/* Contact form css here  */
.main-contact-container {
  height: 100%;
  margin-top: 10%;
  width: 100%;
  /* padding: 30px; */
}

.contact-row {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
}

.left-contact {
  width: 100%;
  height: 100%;
  background-color: black;
}

.contact-form {
  padding: 30px;
}

.contact-form h4 {
  color: white;
  font-size: 1.3rem;
  font-family: var(--font6);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.link-ref {
  text-decoration: none;
  color: white;
}

.form-x {
  margin-top: 1.2rem;
}

.form-group input {
  width: 100%;
  border: 0;
  background-color: rgb(7, 52, 97);
  margin-top: 10px;
  color: white;
  outline: none;
  padding: 5px;
  font-size: 12px;
}

.form-group-btn {
  margin-top: 2%;
}

.btn {
  padding: 6px 25px;
  font-size: 14px;
  background-color: #560979;
}

.btn:hover {
  background-color: #020024;
}


.link-ref:hover {
  color: whitesmoke;
}

.right-contact {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: rgb(39, 10, 66);
  color: white;
}

.contact-info h4 {
  color: white;
  font-size: 1.3rem;
  font-family: var(--font6);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.contact-info p {
  font-size: 14px;
  cursor: pointer;
  font-family: var(--font6);
}

.names span {
  cursor: pointer;
  /* font-family: var(--font2); */
  font-weight: bold;
  font-size: 14px;
  font-family: var(--font6);
}

.info-m {
  /* font-family: var(--font1); */
  cursor: pointer;
  /* font-weight: bold; */
}

/* footer css here  */
.footer {
  height: 100%;
  background-color: rgb(24, 20, 20);
  color: white;
}

.copyright {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font6);
  font-size: 15px;
  cursor: pointer;
}

.copyright p {
  margin-top: 8px;
}


/* Modal css here  */
.modal-heading1 h3 {
  font-family: var(--font2);
}

.modal-heading1 p {
  font-size: 16px;
  font-family: var(--font2);
}

.para-bullets p {
  font-size: 15px;

}

.para-bullets p span {
  font-weight: bolder;
}

.modaltools-h h3 {
  font-size: 23px;
}

.bold-tools {
  display: flex;
  align-items: center;
}

.bold-tools h4 {
  font-size: 16px;
  background-color: rgb(232, 231, 217);
  color: black;
  padding: 10px;
  width: 100%;
  margin-left: 4px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;

}

@media screen and (max-width:600px) {
  video {
    display: block;
  }

  .overlay {
    display: block;
  }

  .home {

    height: 100%;
    width: 100%;

  }


  .heading-home span {
    color: #9d9ac9;
    font-weight: bolder;
  }
}


/* Making Responsiveness  */
@media screen and (max-width:1160px) {
  .nav-title {
    font-size: 15px;
  }


  .nav-logo {
    display: none;
  }

  .hirebtn {
    margin-top: 2%;
  }


  .nav-item a {
    font-family: var(--font6);
  }

  .home-content {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .form-group-btn button {
    font-size: 12px;
  }

  .miniheading h2 {
    font-size: 30px;
    width: 100%;
    font-family: var(--font6);
  }

  .secheading {
    width: 100%;

    font-size: 35px;
    font-family: var(--font6);
  }

  .heading-home p {
    padding-top: 1rem;
    width: 80%;
    margin: auto;
  }

  .main-icons i {
    margin-top: 1.2rem;
    font-size: 30px;
  }

  .container {
    margin-top: 6.7rem;
  }

  .about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .right-about h4 {
    font-size: 23px;
  }

  .right-about p {
    font-size: 15px;
  }

  .contact-row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tools button {
    font-size: 13px;
  }

  .copyright {
    width: 100%;
    font-size: 10px;
  }

  .link-ref {
    text-decoration: none;
    color: white;
  }

  .contact-info h4 {
    font-size: 16px;
  }

  .contact-form h4 {
    font-size: 16px;
  }

  .form-group-btn button {
    font-size: 13px;
  }

  .names span {
    font-size: 15px;
  }

  .names p {
    font-size: 13px;
  }

  .contact-info p {
    font-size: 13px;
  }

  .main-container {
    margin-top: 10rem;
  }

  .projects__row {
    display: flex;
    flex-direction: column;
  }

  .projects__content {
    text-align: center;
  }

  .projects__row-img-cont img {
    height: 100%;
    /* height: 200px; */
    width: 100%;
  }

  .heading-sec__main {
    font-size: 26px;
  }

  .heading-sec__sub {
    margin-top: 6%;
    font-size: 15px;
    width: 90%;
  }


  .projects__row-content-title {
    font-size: 19px;
  }

  .projects__row-content-desc {
    width: 100%;
    font-size: 16px;
  }

  .servicesection {
    margin-top: 4%;
  }

  .mainservicecontainer {
    margin-top: 7rem;
  }

  .service_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .servicesection h1 {
    text-align: center;
    font-size: 19px;
  }

  .servicesection p {
    margin-top: 6%;
    text-align: center;
    font-size: 12px;
    width: 100%;
  }

  .semiserviceheading {
    font-size: 1.3rem;
  }

  .icons {
    font-size: 2rem;
  }

  .manage_icon {
    font-size: 3rem;
  }

  .freelance_icons {
    font-size: 3rem;
  }

  .ui_design {
    font-size: 3rem;
  }

  .service_row p {
    font-size: 13px;
  }
}