@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins:wght@500&family=Roboto:ital,wght@0,700;1,500&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --font1: 'Poppins', sans-serif;
  --font2: 'Kanit', sans-serif;
  --font3: 'Roboto', sans-serif;
}

/* Navigation Css  */
.nav_items {
  margin-left: 10px;
}

.nav-item a:hover {
  /* outline: 1cqb whitesmoke; */
  border-bottom: 2px solid whitesmoke;
  transition: 0.8s ease;
}

.nav-title {
  font-family: var(--font1);
}

/* Main Home Page css  */
video {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.home-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.heading-home {
  text-align: center;
}

.heading-home h2 {
  font-size: 3.4rem;
  font-family: var(--font2);
}

.home-content p {
  font-size: 17px;
  font-family: var(--font1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.main-icons i {
  margin: 3px;
  font-size: 23px;
}


/* About Us Page css  */
.container {
  background-color: whitesmoke;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  box-shadow: 3px 3px 30px rgb(167, 128, 204);
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3%;
}

.main-about-page {
  margin-top: 50px;
  width: 100%;
}

.left-about {
  padding: 20px;
}

.skills-head {
  font-size: 40px;
  font-family: var(--font2);
  color: navy;
}

.skills-icons .gap-1 {
  margin-top: 30px;
  display: flex;
  align-items: center;

}

.skills-icons .gap-1 h4 {
  background-color: rgb(233, 229, 222);
  margin-left: 2%;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 8px;
  font-family: var(--font1);
}

.gap {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.gap h4 {
  background-color: rgb(233, 229, 222);
  margin-left: 2%;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 8px;
  font-family: var(--font1);
}

.skills-span {
  font-size: 17px;
  font-family: var(--font1);
}

.right-about {
  padding: 20px;
}

.right-about h4 {
  font-size: 40px;
  font-family: var(--font2);
  color: navy;
}

.right-about p {
  margin-top: 20px;
  font-size: 17px;
  width: 100%;
  font-family: var(--font1);
}

/* .linkden-id {
  font-size: 18px;
  background-color: blue;
  padding: 10px 20px;
  border-radius: 8px;

}
.linkden-id a {
  list-style: none;
  text-decoration: none;
  color: white;
} */

/* Services CSS HERE  */
.main-container-page {
  height: 100%;
  width: 90%;
  margin: auto;
}

.services-container {
  margin-top: 10%;
}

.services-container h4 {
  text-align: center;
  font-size: 2.8rem;
  font-family: var(--font2);
  color: navy;
}

.services-container p {
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.row {
  height: 4px;
  background-color: blue;
  width: 50px;
  margin: auto;
  margin-bottom: 5%;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;

}

.boxex {
  height: 100%;
  width: 100%;
  background-color: rgb(247, 242, 242);
  padding: 30px;
  text-align: center;
  margin: 10px;
}

.image-box i {
  font-size: 80px;
  color: blue;
}

.image-box i:hover {
  color: rgb(79, 166, 196);
}

.boxex h1 {
  margin-top: 15px;
  font-family: var(--font1);
  font-size: 25px;
}

.boxex p {
  font-size: 18px;
}

/* Projects Css here  */
.projects {
  margin-top: 8%;
}

.main-container {
  width: 65%;
  margin: auto;
  height: 100%;
}

.projects__row {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 8rem;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.heading-sec__main {
  font-size: 2.8rem;
  color: navy;
  font-family: var(--font2);
}

.heading-sec__sub {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-weight: light;
}

.projects__content {
  margin-top: 6rem;
}

.projects__row-content {
  margin-top: 1.5rem;
}

.projects__row-img-cont img {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
}

/* Contact form css here  */
.main-contact-container {
  height: 100%;
  margin-top: 10%;
  width: 100%;
  /* padding: 30px; */
}

.contact-row {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
}

.left-contact {
  width: 100%;
  height: 100%;
  background-color: black;
}

.contact-form {
  padding: 30px;
}

.contact-form h4 {
  color: white;
  font-size: 1.3rem;
  font-family: var(--font1);
  cursor: pointer;
}

.link-ref {
  text-decoration: none;
  color: white;
}

.form-x {
  margin-top: 1.2rem;
}

.form-group input {
  width: 100%;
  border: 0;
  background-color: rgb(7, 52, 97);
  margin-top: 10px;
  color: white;
  outline: none;
  padding: 5px;
  font-size: 13px;
}

.form-group-btn {
  margin-top: 2%;
}

.btn {
  padding: 6px 25px;
  font-size: 14px;
}

.link-ref:hover {
  color: whitesmoke;
}

.right-contact {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: rgb(39, 10, 66);
  color: white;
}

.contact-info h4 {
  color: white;
  font-size: 1.3rem;
  font-family: var(--font1);
  cursor: pointer;
}

.contact-info p {
  font-size: 15px;
  cursor: pointer;
}

.names span {
  cursor: pointer;
  /* font-family: var(--font2); */
  font-weight: lighter;
}

.info-m {
  /* font-family: var(--font1); */
  cursor: pointer;
  /* font-weight: bold; */
}

/* footer css here  */
.footer {
  height: 100%;
  background-color: rgb(24, 20, 20);
  color: white;
}

.copyright {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font1);
  font-size: 15px;
  cursor: pointer;
}

.copyright p {
  margin-top: 8px;
}

@media screen and (max-width:600px) {
  video {
    display: none;
  }

  .overlay {
    display: none;
  }

  .home {
    background-color: #0b031a;
    height: 90vh;
  }

  .heading-home span {
    color: #9d9ac9;
    font-weight: bolder;
  }

  .home-content::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 73%;
    transform: translate(-50%, -50%);
    height: 2px;
    background-color: #9b96dc;
    width: 20%;
    margin: auto;

  }

}


/* Making Responsiveness  */
@media screen and (max-width:1160px) {

  .nav-title {
    font-size: 14px;
  }

  .home-content {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .form-group-btn button {
    font-size: 12px;
  }


  .home-content h2 {
    font-size: 40px;
    width: 100%;
  }

  .home-content p {
    font-size: 13px;
    width: 80%;
    margin: auto;
    margin-top: 2%;
  }

  .main-icons i {
    margin-top: 25px;
    font-size: 20px;
  }

  .container {
    margin-top: 6.7rem;
  }

  .about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .skills-head {
    font-size: 26px;
  }

  .skills-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .skills-icons .gap-1 h4 {
    font-size: 14px;

  }

  .skills-icons .gap h4 {
    font-size: 14px;
    width: 100%;

  }

  .right-about h4 {
    font-size: 26px;
  }

  .right-about p {
    font-size: 15px;
  }

  .service {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .services-container h4 {
    font-size: 27px;
    margin-top: 8rem;
  }

  .services-container p {
    font-size: 15px;
  }

  .contact-row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tools button {
    font-size: 13px;
  }

  .boxex h2 {
    font-size: 20px;
  }

  .boxex i {
    font-size: 40px;
  }

  .copyright {
    width: 100%;
    font-size: 10px;
  }

  .link-ref {
    text-decoration: none;
    color: white;
  }

  .contact-info h4 {
    font-size: 16px;
  }

  .contact-form h4 {
    font-size: 16px;
  }

  .form-group-btn button {
    font-size: 13px;
  }

  .names span {
    font-size: 15px;
  }

  .names p {
    font-size: 13px;
  }

  .contact-info p {
    font-size: 13px;
  }

  .projects__row {
    display: flex;
    flex-direction: column;
  }

  .projects__content {
    text-align: center;
  }

  .projects__row-img-cont img {
    height: inherit;
    width: 100%;
  }

  .heading-sec__main {
    font-size: 26px;
  }

  .heading-sec__sub {
    font-size: 15px;
  }

  .main-container {
    margin-top: 10%;
  }

  .projects__row-content-title {
    font-size: 19px;
  }

  .projects__row-content-desc {
    font-size: 16px;
  }
}